{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "web/css/style.css" %}">
  </head>
  <body>
    <section class="heading">
      <div class="logo-tagline container">
        <div class="logo">
          {% if LANGUAGE_CODE == "es" %}
          <img src="{% static "web/img/logo-mx.png" %}">
          {% else %}
          <img src="{% static "web/img/logo.png" %}">
          {% endif %}
        </div>
        <div class="tagline">
          {% blocktrans %}Whatever you aren&apos;t, we are.{% endblocktrans %}
        </div>
      </div>
      <div class="hero container">
        <div class="hero-text">
          {% blocktrans %}This junction for your functions is almost complete.{% endblocktrans %}
        </div>
        <div class="hero-text-sub">
          {% blocktrans %}
          If you're reading this, you are either in desperate need of help for
          your business, or with your web browsing skills. Let us, for a moment,
          assume it's the former.
          {% endblocktrans %}
        </div>
      </div>
    </section>
    <hr class="fruitloops"></hr>
    <section class="content">
      <div class="container">
        <div class="main-copy col">
          <p>
            {% blocktrans %}
            The Functionary, when fully operational, will manage any and all
            back-office functions for your company. Leaving you to focus on what
            our Chief Jargon Officer refers to as &ldquo;core competencies.&rdquo;
            Honestly, we’re of the mind that you are undoubtedly much more than
            merely competent at your desired business activities, but
            alliteration rules the day.
            {% endblocktrans %}
          </p>
          <div class="functions">
            <h2>{% trans "Our Functions" %}</h2>
            <ul>
              <li>{% trans "Application Development" %}</li>
              <li>{% trans "Help Desk" %}</li>
              <li>{% trans "Accounting" %}</li>
              <li>{% trans "Integration &amp; Warehousing" %}</li>
              <li>{% trans "Call Center" %}</li>
              <li>{% trans "Marketing &amp; Advertising" %}</li>
              <li>{% trans "Facilities" %}</li>
              <li>{% trans "NOC" %}</li>
              <li>{% trans "Human Resources" %}</li>
            </ul>
          </div>
        </div>
        <div class="form">
          {% if success %}
          <p>
            {% blocktrans %}Thank you for reaching out. We'll be in touch soon!{% endblocktrans %}
          </p>
          {% else %}
          <p>
            {% blocktrans %}
            If you would like to be notified when The Functionary is indeed
            functional, please complete the form below. We do solemnly swear to
            only use said information to contact you about our launch. Anything
            else would be quite uncivilized. Thank you.
            {% endblocktrans %}
          </p>
          {% if form.errors %}
          <p class="error">{{ form.errors.0 }}</p>
          {% endif %}
          <form method="POST" action=".">
            {% csrf_token %}
            <div class="row">
              <div class="field">
                <label>{% trans "First Name" %}<em>*</em></label>
                {{ form.first_name }}
              </div>
              <div class="field">
                <label>{% trans "Last Name" %}<em>*</em></label>
                {{ form.last_name }}
              </div>
            </div>
            <div class="row">
              <div class="field">
                <label>{% trans "Email Address" %}<em>*</em></label>
                {{ form.email }}
              </div>
            </div>
            <div class="row">
              <div class="field">
                <label>{% trans "Message" %}<em>*</em></label>
                {{ form.message }}
              </div>
            </div>
            <div class="submit-row">
              <button class="btn" type="submit">{% trans "Submit" %}</button>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        &copy; 2017 The Functionary. {% trans "All Rights Reserved" %}
      </div>
    </footer>
  </body>
</html>

